.div{
    border: 2px solid rgba(255, 0, 0, 0.027);
background-color: lightseagreen;
    height: auto;
    width: 300px;
    
}
h1{
    color: red;
    margin-left: 140px;
    font-size: 50px;
}
button{
    background-color: yellowgreen;
    margin-left: 17px;
    margin-bottom: 10px;
    color: red;
}